@model IEnumerable<Sportle.Web.Models.Formula1.EventResult2024>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SprintPP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SprintP1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SprintFL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RacePP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceP10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceFL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PredictedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SprintPP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SprintP1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SprintFL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RacePP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceP10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceFL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
