@model AllEventsViewModel
@{
    ViewData["Title"] = "Events";
    var now = DateTime.UtcNow;
    var isAdmin = User.IsInRole("Admin");
}

<div class="text-center">
    <h1 class="display-4 mb-3">Events</h1>
    <h4 class="mb-4">F1 Season 2024</h4>
    
    <hr />

    <div class="list-group narrow">
        @foreach (var e in Model.Events)
        {
            var hasPrediction = Model.Predictions.Any(p => p.EventId == e.Id);
            var isInPast = (e.Sessions.First(s => s.Type == SessionType.Race).Start < now);
            <div class="card text-center mb-3">
                <div class="card-body">
                    <h5 class="card-title">@e.Venue.Name (@e.Venue.Country)</h5>
                    <p class="card-text small">@e.GetDateRange()</p>
                    <p condition="@(!hasPrediction && !isInPast)">⚠️ Not yet predicted ⚠️</p>
                    <p condition="@(hasPrediction && !isInPast)">✅ Prediction submitted ✅</p>
                    <span condition="@(!hasPrediction && isInPast)">❌ Nothing predicted ❌</span>
                    <a condition="@(!isInPast)" asp-area="" asp-controller="Events" asp-action="Prediction" asp-route-id="@e.Id" class="btn btn-primary btn-sm">Predict</a>
                    <a condition="@(hasPrediction && isInPast)" asp-area="" asp-controller="Events" asp-action="Result" asp-route-id="@e.Id" class="btn btn-primary btn-sm">Results</a>
                    <a condition="@(isAdmin && isInPast)" asp-area="" asp-controller="Events" asp-action="UpdateResult" asp-route-id="@e.Id" class="btn btn-warning btn-sm">Update Results</a>
                </div>
            </div>
        }
    </div>
</div>
