@model PredictionReminder
@{
    Layout = "_Layout.cshtml";
}

<table style="background-color:#ddd;width:100%;border-spacing:0;font-family:'Roboto',Arial,Helvetica,sans-serif;">
    <tr>
        <td align="center">
            <table style="background-color:white;border-spacing:0;">
                <tr>
                    <td style="width:600px;background-color:#E56717;color:white;" align="center">
                        <h1>Prediction reminder</h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding:18px;">
                        <p style="margin:0;">
                            Hello @Model.User?.UserName,
                        </p>
                        <p>
                            Here's a reminder for filling in the predictions for <strong>@Model.Event?.Venue.Name (@Model.Event?.Venue.Country)</strong>
                        </p>
                        <p>
                            The deadlines are:
                        </p>
                        <ul>
                            @foreach(var session in Model.Event?.Sessions.OrderBy(s => s.Start).ToList() ?? [])
                            {
                                <li>
                                    @session.Type.ToString(): @session.FormattedStart()
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="background-color:#ff2800;width:50%;padding:20px;" align="center">
                            <tr>
                                <td style="font-weight:bold; font-size:x-large;" align="center">
                                    <a href="https://f1.justanotherproject.org/Events/@Model.Event?.Id/Predict" style="color:white;text-decoration:none;">Make picks</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>