@model Sportle.Web.Models.Formula1.Season

@{
    ViewData["Title"] = "Delete Season";
}

<h1>@Model.Year</h1>
<h4>Are you sure you want to delete this season?</h4>
<hr />
<div>
    <div>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Drivers)
            </dt>
            <dd class="col-sm-9">
                <table class="w-100">
                    @foreach (var d in Model.Drivers)
                    {
                        <tr>
                            <td>@d.Number</td>
                            <td>@d.Name</td>
                            <td>@d.Country</td>
                        </tr>
                    }
                </table>
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Events)
            </dt>
            <dd class="col-sm-9">
                <table class="w-100">
                    @foreach (var e in Model.Events)
                    {
                        <tr>
                            <td>@e.Venue.Name</td>
                            <td>@e.Venue.Country</td>
                            <td>@(e.Sessions.FirstOrDefault(s => s.Type == SessionType.Race)?.Start.ToString("d MMMM") ?? "")</td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
