@model Sportle.Web.Models.Formula1.Season

@{
    ViewData["Title"] = "Season Details";
}

<h1>@Model.Year</h1>
<h4>Season Details</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Drivers)
        </dt>
        <dd class="col-sm-9">
            <table class="w-100">
                @foreach (var d in Model.Drivers)
                {
                    <tr>
                        <td>@d.Number</td>
                        <td>@d.Name</td>
                        <td>@d.Country</td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd class="col-sm-9">
            <table class="w-100">
                @foreach (var e in Model.Events)
                {
                    <tr>
                        <td><a asp-area="Admin" asp-controller="Results" asp-action="Edit" asp-route-id="@e.Id">🏁</a></td>
                        <td>@e.Venue.Name</td>
                        <td>@e.Venue.Country</td>
                        <td>@(e.Sessions.FirstOrDefault(s => s.Type == SessionType.Race)?.Start.ToString("d MMMM") ?? "")</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
