@model IEnumerable<Sportle.Web.Models.Formula1.Season>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Year)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">🖊️</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">🗑️</a>
                </td>
            </tr>
        }
    </tbody>
</table>
